<a href="https://colab.research.google.com/github/ankitarm/SQL_Data_Engineer/blob/main/SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## LeetCode SQL #550: Game Play Analysis IV

**Problem Link:** [LeetCode #550](https://leetcode.com/problems/game-play-analysis-iv/)

### üîπ Problem Statement

**Table: Person**

| Column Name | Type    |
|-------------|---------|
| personId    | int     |
| lastName    | varchar |
| firstName   | varchar |

- `personId` is the primary key.
- This table contains information about some persons and their names.

**Table: Address**

| Column Name | Type    |
|-------------|---------|
| addressId   | int     |
| personId    | int     |
| city        | varchar |
| state       | varchar |

- `addressId` is the primary key.
- Each row contains the city and state of one person.

---

### ‚úèÔ∏è Task

Write a SQL query to report the `firstName`, `lastName`, `city`, and `state` of each person in the `Person` table.  
If a person's address is not present in the `Address` table, return `null` in `city` and `state`.

---

### üì• Example Input

**Person**

| personId | lastName | firstName |
|----------|----------|-----------|
| 1        | Wang     | Allen     |
| 2        | Alice    | Bob       |

**Address**

| addressId | personId | city          | state      |
|-----------|----------|---------------|------------|
| 1         | 2        | New York City | New York   |
| 2         | 3        | Leetcode      | California |

---

### üì§ Example Output

| firstName | lastName | city          | state    |
|-----------|----------|---------------|----------|
| Allen     | Wang     | null          | null     |
| Bob       | Alice    | New York City | New York |

---


**Solution (SQL):**
```sql
SELECT ROUND(COUNT(DISTINCT player_id) /
             (SELECT COUNT(DISTINCT player_id) FROM Activity), 2) AS fraction
FROM Activity
WHERE DATEDIFF(event_date,
      (SELECT MIN(event_date)
       FROM Activity a2
       WHERE a1.player_id = a2.player_id)) = 1;